html,
body {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #563f0e;
  padding: 50px;
}

#container {
  padding: 60px;
  max-width: 650px;
  background: white;
  border: 5px solid green;
  box-shadow: 0 0 0;
  color: black;
  font-family: Marcellus, serif;
  text-shadow: 0 2px #fff;
  text-align: center;
}

h1 {
  font-size: 32px;
  text-decoration: underline;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 8px;
  padding: 1px;
  margin: 1px;
}

pre {
  font-family: inherit;
  text-align: left;
}

 

div#flems {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;

 

body {
  height: 100%;
  margin: 0;
  padding: 0;
}